gradio
huggingface_hub
matplotlib
numpy
opencv_python
Pillow
setuptools
torch
torchvision
transformers
lightning
git+https://github.com/facebookresearch/segment-anything
git+https://github.com/IDEA-Research/GroundingDINO